@import "../_variables.css";

.dropdown {
  display: inline-block;
  position: relative;
}

.popup {
  min-width: 140px;
  position: absolute;
  background: var(--color-white);
  box-shadow: var(--shadow-3);
  border-radius: calc(var(--base-rounding)/2);
  z-index: var(--zIndex-3);
  padding: calc(var(--base-spacing)/2) 0;
}

.popup.left {
  left: 0;
}

.popup.right {
  right: 0;
}

.popup:global(.hidden) {
  display: none;
}

.menuItem {
  background: none;
  border: 0;
  display: block;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  box-sizing: border-box;
  padding: calc(var(--base-spacing)/2) var(--base-spacing);
  text-decoration: none;
  color: var(--color-black);
  font-weight: 400;
  border-radius: 0;
}

.menuItem:hover {
  background: var(--color-grey-lighter);
}

.menuItemIcon {
  margin-right: calc(var(--base-spacing)/2);
}

.menuItemDanger {
  color: var(--color-danger);
}

.menuItemDanger:hover {
  color: var(--color-white);
  background: var(--color-danger);
}

.menuSeparator {
  border: 0;
  height: 1px;
  background: var(--color-grey-lighter);
  margin: calc(var(--base-spacing)/2) 0;
}
