@import "../_variables.css";

.contentRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--base-spacing);
  padding: var(--base-spacing);
}

.editContent {
  width: 100%;
}

@media (--media-sm) {
  .editContent {
    width: 480px;
  }
}
