@import "../commons/_variables.css";

.container {
  margin: 0 auto;
  width: 100%;
}

@media (--media-sm) {
  .container { max-width: var(--screen-sm); }
}

@media (--media-md) {
  .container { max-width: var(--screen-md); }
}

@media (--media-lg) {
  .container { max-width: var(--screen-lg); }
}

@media (--media-xl) {
  .container { max-width: var(--screen-xl); }
}

