@import "../_variables.css";

.button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  background: none;
  border: none;
  padding: calc(var(--base-spacing) / 2) var(--base-spacing);
  cursor: pointer;
  color: var(--color-grey-dark);
  text-decoration: none;
  border-radius: calc(var(--base-rounding) / 2);
}

.button:hover {
  background: var(--color-grey-lighter);
}

.primary {
  color: var(--color-primary);
}

.primary:hover, .primary.highlighted {
  background: var(--color-primary);
  color: var(--color-white);
}

.secondary {
  color: var(--color-secondary);
}

.secondary:hover {
  background: var(--color-secondary);
  color: var(--color-white);
}

.tertiary {
  color: var(--color-tertiary);
}

.tertiary:hover {
  background: var(--color-tertiary);
  color: var(--color-white);
}

.danger {
  color: var(--color-danger);
}

.danger:hover, .danger.highlighted {
  background: var(--color-danger);
  color: var(--color-white);
}

.success {
  color: var(--color-success);
}

.success:hover {
  background: var(--color-success);
  color: var(--color-white);
}

.xs { font-size: 1rem; }
.sm { font-size: 1rem; }
.md { font-size: 1.25rem; }
.lg { font-size: 1.5rem; }
.xl { font-size: 1.75rem; }
