@import "../_variables.css";

.button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  background: none;
  border: none;
  padding: calc(var(--base-spacing) / 2) var(--base-spacing);
  cursor: pointer;
  color: var(--color-grey-dark);
  text-decoration: none;
  border-radius: calc(var(--base-rounding) / 2);
}

.button:hover {
  background: var(--color-grey-lighter);
}

.button.tertiary {
  color: var(--color-tertiary);
}

.button.tertiary:hover {
  background: var(--color-tertiary);
  color: var(--color-white);
}
