@import "../commons/_variables.css";

.button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin: 0;
  padding: var(--base-spacing);
  background: none;
  border: 0;
}

.icon {
  margin-right: 8px;
}

.primary { color: var(--color-primary); }
.secondary { color: var(--color-secondary); }
.tertiary { color: var(--color-tertiary); }

.sm { font-size: 0.85rem; }
.md { font-size: 1rem; }
.lg { font-size: 1.25rem; }
.xl { font-size: 1.5rem; }

