@import "../commons/_text.css";
@import "../commons/_colors.css";
@import "../commons/_spacing.css";

.button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin: 0;
  padding: var(--spacing);
  background: none;
  border: 0;
}

.icon {
  margin-right: 8px;
}

.primary { color: var(--color-primary); }
.secondary { color: var(--color-secondary); }
.tertiary { color: var(--color-tertiary); }

.sm { font-size: var(--text-sm); }
.md { font-size: var(--text-md); }
.lg { font-size: var(--text-lg); }
.xl { font-size: var(--text-xl); }
.2xl { font-size: var(--text-2xl); }

