@import "../_variables.css";

.text {
  margin: 0;
  padding: 0;
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-weight: 400;
}

.xs { font-size: 0.5rem; }
.sm { font-size: 0.75rem; }
.md { font-size: 1rem; }
.lg { font-size: 1.25rem; }
.xl { font-size: 1.75rem; }

.normal { color: var(--color-grey-dark); }
.primary { color: var(--color-primary); }
.secondary { color: var(--color-secondary); }
.tertiary { color: var(--color-tertiary); }
.danger { color: var(--color-danger); }
.primary { color: var(--color-primary); }

.bold { font-weight: 600; }
