@import "../_variables.css";

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: var(--base-spacing);
  padding: var(--base-spacing);
}

.form {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: calc(var(--base-spacing)/2);
  box-sizing: border-box;
}

.row label {
  font-size: 1rem;
  font-weight: 600;
}

.input {
  width: 100% !important;
  margin-top: calc(var(--base-spacing)/4) !important;
}

.buttons {
  display: flex;
  margin-top: var(--base-spacing);
}

.button:first-child {
  margin-right: var(--base-spacing);
}

@media (--media-sm) {
  .form {
    width: 480px;
  }
}
