@import "../_variables.css";

.root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.createDeckContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: var(--base-spacing);
}

.createDeckBox {
  width: 100%;
}

.loadingDataProgress {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (--media-sm) {
  .createDeckBox { width: 480px; }
}

@media (--media-md) {
  .createDeckBox { width: 600px; }
}
