@import "../_variables.css";

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: var(--base-spacing);
  padding: var(--base-spacing);
}

.form {
  width: 100%;
}

@media (--media-sm) {
  .form {
    width: 480px;
  }
}
