@import "../_variables.css";

.card {
  position: relative;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 var(--base-spacing);
}

.cardBack {
  text-align: center;
  margin-top: calc(var(--base-spacing)/2);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
}
