@import "../commons/_variables.css";

:root {
  --spacing: var(--base-spacing);
}

.separator {
  border: 0;
  padding: 0;
  margin: calc(var(--spacing) / 2) 0;
  height: 1px;
  background: var(--color-grey-lighter);
}

.item {
  color: var(--color-black);
  display: block;
  padding: var(--spacing);
  text-decoration: none;
}

.icon {
  margin-right: var(--spacing);
}

.item:hover {
  background: var(--color-grey-lighter);
}

.box {
  padding: calc(var(--spacing)/2) 0;
  min-width: 140px;
}

.item.normal { color: var(--color-black); }
.item.primary { color: var(--color-primary); }
.item.secondary { color: var(--color-secondary); }
.item.tertiary { color: var(--color-tertiary); }

.item.danger { color: var(--color-danger); }
.item.danger:hover {
  color: var(--color-white);
  background: var(--color-danger);
}
