@import "../_variables.css";

.root {
  background: var(--color-white);
  box-shadow: var(--shadow-1);
}

.contentRoot {
  display: flex;
  padding: 0 var(--base-spacing);
  flex-wrap: wrap;
}

.section {
  display: flex;
  align-items: center;
  height: 56px;
  box-sizing: border-box;
}

.logo {
  order: 1;
}

.logo span {
  color: var(--color-primary);
  font-size: 1.25rem;
  font-weight: 500;
  display: none;
  margin-left: calc(var(--base-spacing) / 2);
}

.logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.title {
  order: 2;
  font-size: var(--base-font-size);
  font-weight: bold;
  flex-grow: 1;
  padding-left: calc(var(--base-spacing) * 2);
  color: var(--color-secondary);
}

.social {
  order: 3;
}

.socialIcon {
  margin-right: calc(var(--base-spacing) / 3);
}

.auth {
  order: 4;
}

.actions {
  order: 5;
  width: 100%;
  justify-content: flex-end;
}

.actionIcon {
  margin-right: calc(var(--base-spacing) / 2);
}

@media (--media-md) {
  .actions {
    order: 2;
    width: auto;
  }
  .logo span {
    display: block;
  }
}
