:root {

  --base-font-family: 'Barlow Semi Condensed';
  --base-font-size: 18px;

  --base-spacing: calc(var(--base-font-size) * .86);
  --base-rounding: calc(var(--base-font-size) * .5);

  --color-black: #313131;
  --color-white: #ffffff;

  --color-grey-dark: #616161;
  --color-grey: #878789;
  --color-grey-light: #c3c3c3;
  --color-grey-lighter: #f3f3f3;
  --color-grey-lightest: #f9fbff;

  --color-primary: #1bd5d0;
  --color-secondary: #9e73e7;
  --color-tertiary: #ff55ba;
  --color-danger: #e8455b;
  --color-success: green;

  --shadow-1: 0px 1px 1px 0 rgba(0, 0, 0, 0.10);
  --shadow-2: 0px 2px 2px 0 rgba(0, 0, 0, 0.10);
  --shadow-3: 0px 2px 4px 2px rgba(0, 0, 0, 0.10);
  --shadow-inner: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.10);

  --screen-sm: 576px;
  --screen-md: 768px;
  --screen-lg: 992px;
  --screen-xl: 1200px;

  --zIndex-1: 100;
  --zIndex-2: 200;
  --zIndex-3: 300;

  @custom-media --media-sm (min-width: 576px);
  @custom-media --media-md (min-width: 768px);
  @custom-media --media-lg (min-width: 992px);
  @custom-media --media-xl (min-width: 1200px);

}
