@import "../_variables.css";

.root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: calc(var(--base-spacing)*2);
}

.deleteDeckContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckWrapper {
  width: 100%;
  padding: calc(var(--base-spacing)*2);
}

.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--base-spacing);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  padding: var(--base-spacing);
}

.deletingDeckProgressContent {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingDecksProgressContent {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (--media-sm) {
  .deckWrapper {
    width: 320px;
  }
  .info {
    flex-grow: 0;
  }
}
