@import "../_variables.css";

.root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--base-spacing);
}

.title {
  padding: var(--base-spacing);
}

.deckContainer {
  max-width: 320px;
  width: 100%;
  padding: var(--base-spacing);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: var(--base-spacing);
}

@media (--media-md) {
  .buttons {
    padding: calc(var(--base-spacing)*2);
    align-items: flex-start;
  }
}
