:root {

  --color-black: #313131;
  --color-white: #ffffff;

  --color-primary: #1bd5d0;
  --color-secondary: #9e73e7;
  --color-tertiary: #ff55ba;

  --color-grey-lightest: #f9fbff;
  --color-grey-lighter: #f3f3f3;
  --color-grey-light: #c3c3c3;
  --color-grey: #878789;
  --color-grey-dark: #616161;

}
