@import "../_variables.css";

.root {
  height: 100%;
}

.decks {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--base-spacing);
  padding: var(--base-spacing);
}

.deckWrapper {
  padding: var(--base-spacing);
  width: 100%;
  min-height: 240px;
}

.deck {
  width: 100%;
  height: 100%;
}

@media (--media-md) {
  .deckWrapper {
    width: 320px;
  }
}
