@import "../commons/_variables.css";

.decks {
  display: flex;
  flex-wrap: wrap;
  padding: var(--base-spacing);
}

.deckWrapper {
  height: 252px;
  width: 400px;
  padding: var(--base-spacing);
}

.deckWrapper > * {
  height: 100%;
  width: 100%;
}
